@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}

nav {
    height: 80px;
}

img{
    width: 100%;
}

p{
    line-height: 1.5;
}

a{
    text-decoration: none;
}

h1{
    font-size: 56px;
    font-weight: 300;
    margin-bottom: 24px;
    text-align: center;
}

h2{
    font-size: 32px;
    margin-bottom: 16px;
    text-align: center;
}

.peru{
    color: peru;
    font-weight: bold;
}

button{
    cursor: pointer;
}

button:active{
    transform: scale(0.98);
}

.btn{
    background-color: peru;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 500;
    transition: 300ms ease;
}

.btn:hover{
    background-color: orange;
}

.container{
    padding: 56px 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;    
}

.no-cursor{
    cursor: not-allowed;
}

/* LANDING */

.nav__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__row{
    margin: 16px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    display: flex;
}

.nav__logo--img{
    width: 75px;
    height: 75px;
}

.rock:hover {
  display: inline-block;
  animation: rock 2s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes rock {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(5deg); }
  50%  { transform: rotate(0deg); }
  75%  { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.nav__logo--title{
    font-size: 28px;
    font-weight: 700;
    padding: 4px;
    margin-top: 2px;
}

.nav__links{
    width: 30%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
}

li{  
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    list-style-type: none;
}

.nav__link{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    text-decoration: none;
}

.nav__link--primary{
    color: white;
    background-color: peru;
    border: none;
    border-radius: 30px;
    padding: 12px 24px;    
    z-index: 2;
    transition: 300ms ease;
    
}

.nav__link--primary:hover{
    background-color: orange;
}

.btn__menu{
    display: none;
    background-color: transparent;
    border: none;
    font-size: 32px;
    color: orange;  
    text-align: center;  
}

.menu__backdrop{
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop{
    visibility: visible;
    opacity: 1;
}

.menu--open{
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.menu__list{
    padding: 32px 0;
    font-size: 16px;
}

.menu__link {
    font-size: 40px;
    color: white;
}

.btn__menu--close{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

/* HEADER */

header {
  height: 750px;
}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hover-wiggle:hover {
   display: inline-block;
  animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wiggle {
    0%   { transform: rotate(0deg) translateX(0); }
  25%  { transform: rotate(3deg) translateX(2px); }
  50%  { transform: rotate(0deg) translateX(0); }
  75%  { transform: rotate(-3deg) translateX(-2px); }
  100% { transform: rotate(0deg) translateX(0); }
 }

.header__img--wrapper {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;  
  height: auto;
}

/* MOVIES */

#features{
    overflow: hidden;
}

#holiday {
  background-color: #fff5ee;
  overflow: hidden;
}

#action {
   background-color: #fff5ee;
}

.movies {
  display: flex;
  flex-wrap: wrap;  
}

.movie {
  width: 25%;
  padding: 24px;
}

.movie__img--wrapper {
  height: 300px;
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  border-radius: 4px;
  overflow: hidden;    
}

.movie__img {
  height: 300px;
  max-width: 100%;
  transition: all 300ms ease;
  cursor: not-allowed;
  object-fit: cover;
  object-position: center;
}

.movie:hover .movie__img {
  transform: scale(1.03);
}

.movie__title {
  font-size: 20px;
  margin-bottom: 8px;
}

.movie__title:hover {
  text-decoration: underline;
  cursor: not-allowed;
}

.movie__ratings {
  margin-bottom: 8px;
  color: #fabf2a;
}

.movie__price--purchase{
  padding-right: 6px;
  color: coral;
}

.browse-movies-cta {
  text-align: center;
  padding: 24px;
  margin-bottom: 8px;
}

/* 

FOOTER

*/

footer {
  background-color: white;
  text-align: center;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 0;
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 36px;
}

.footer__logo--img {
  width: 100px;
  height: 100px;  
}

.footer__link,
.footer__copyright {
  color: black;
  font-size: 16px;
  padding-bottom: 16px;
}

.footer__list {
  margin: 20px 0 24px 0;
}

.footer__link {
  padding: 0 8px;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
    .nav__row{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
        margin: auto;
        width: 100%;
        padding: 8px 16px 0 16px;
    }

    .btn__menu{
        display: block;   
    }

    .nav__links{
        display: none;
    }

    .row{
        flex-direction: column;
        text-align: center;
        padding: 0 24px;
    }
    .movie{
       width: 50%;      
    }

    .movie__img{
        height: auto;
        object-fit: contain;
        transform: none;
    }

    .movie__img--wrapper{
        height: 240px;
        overflow: visible;
    }
   
    .browse-movies-cta {
        margin-bottom: 8px;
        margin-top: 20px;
        padding: 16px;
    }
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px){
     
        .btn__menu{
            display: block;            
        }   

        .nav__links{
            display: none;
        }

        .header__description{
            width: 100%;
            text-align: center;
            padding: 0 16px;
        }

        h1{
            font-size: 46px;
        }

        h2{
            font-size: 24px;
        }

        .header__img--wrapper{
            justify-content: center;
            padding: 0;
        }

        .header__img{
            width: 100%;
        }

        .browse-movies-cta {
            margin-bottom: 8px;
            margin-top: 20px;
            padding: 16px;
        }
    }